<div class="separador">
    <h2 class="text-separador">Mis proyectos</h2>
</div>
<section *ngFor="let Proyectos of proyectos" class="container">
    <div class="row cont-row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 custom-section">
            <img [src]="Proyectos.imgP" class="img-card">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <button class="btn" *ngIf="isLogged" routerLink="/newpro"><i
                    class="fa-solid fa-circle-plus"></i></button><button class="btn" *ngIf="isLogged"
                routerLink="/editpro/{{Proyectos.id}}"><i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="btn" (click)="borrarPro(Proyectos.id)" *ngIf="isLogged">
                <i class="fa-solid fa-trash "> </i></button>
            <div class="card-body">
                <h5 class="card-title">{{Proyectos.nombreP}}</h5>
                <p class="card-text">{{Proyectos.descripcionP}}</p>
                <a target="_blank" [href]="Proyectos.urlP" class="btn btn-secondary">Visita el
                    sitio</a>

            </div>
        </div>
    </div>