*{
    list-style-type: none;
}
.titulo{
 text-align: center;
 align-items: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nombre{
padding: 0;
padding-top: 1rem;
padding-right: 1rem;
}
h4{
    padding-left: 50px;
}
.container{
    margin-bottom: 2rem;
}
.btn{
    padding: 0;
    margin: 0;
    padding-right: 0.2rem;
    height: auto;
    width: auto;
    
}
.edit{
    margin-left: 3rem;
    padding-left: 0.5rem;
    border-bottom: 1rem;
    border-right: 1rem;
    box-shadow: rgb(90, 80, 80) 0.5rem 0.5rem 0.5rem 1px ;
    background-color: rgb(240, 208, 167);
}