<div>
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="custom-form">
        <h1>Modificar Experiencia</h1>
        <div class="form-gorup">
            <label for="nombreEmpresa">Nombre de la empresa</label>
            <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa"[(ngModel)]="expLab.nombreEmpresa">
            <label for="fechaIn">Fecha de ingreso</label>
            <input type="text" class="form-control" id="fechaIn" name="fechaIn" [(ngModel)]="expLab.fechaIn">
            <label for="fechaOut">Fecha de salida</label>
            <input type="text" class="form-control" id="fechaOut" name="fechaOut" [(ngModel)]="expLab.fechaOut">
            <label for="puestoEmpresa">Puesto</label>
            <input type="text" class="form-control" id="puestoEmpresa" name="puestoEmpresa"
                [(ngModel)]="expLab.puestoEmpresa">
            <label for="domicilioEmpresa">Domicilio Empresa</label>
            <input type="text" class="form-control" id="domicilioEmpresa" name="domicilioEmpresa"
                [(ngModel)]="expLab.domicilioEmpresa">
            <label for="descripcionEmpresa">descripcion de la Empresa</label>
            <input type="text" class="form-control" id="descripcionEmpresa" name="descripcionEmpresa"
                [(ngModel)]="expLab.descripcionEmpresa">
            <label for="urlEmpresa">url de la empresa</label>
            <input type="text" class="form-control" id="urlEmpresa" name="urlEmpresa" [(ngModel)]="expLab.urlEmpresa">
            <button class="btn btn-secondary">Modificar</button>
        </div>

    </form>
</div>