<div class="custom-form">
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <h1>Login</h1>
        <input type="email" id="nombreUsuario" name="nombreUsuario" placeholder="Usuario" [(ngModel)]="nombreUsuario"
            required method="post" />
        <label for="nombreUsuario"></label>

        <input type="password" id="password" name="password" placeholder="Contraseña" [(ngModel)]="password" required
            method="post" />
        <label class="form-label" for="password"></label>
        <div>
            <button type="submit" id="btn" class="btn btn-secondary">Vamos!</button>
            <p>Todavia no tienes un usuario? <a href="/register" type="submit">registrate!</a></p>
        </div>
    </form>
</div>