<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" target="_blank" href="https://argentinaprograma.inti.gob.ar/"><img class="logo-ap" src="../../../assets/APLogo.png" alt="" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="/info">Acerca de mi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/proyectos">Mis proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/skills">Conocimientos</a>
            </li>
        </ul>



            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/francisco-hasenauer-93a49722b/"><img class="social-icon" src="../../../assets/linkedin.png" alt="" ></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://github.com/FranHasenauer"><img  class="social-icon" src="../../../assets/github.png" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.instagram.com/fran.hasenauer/"><img class="social-icon" src="../../../assets/instagram.png" alt="" ></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.facebook.com/fran.hasenauer/"><img class="social-icon" src="../../../assets/facebook.png" alt="" ></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://twitter.com/FranHasenauer"><img class="social-icon" src="../../../assets/twitter.png" alt="" ></a>
            </li>
        </ul>
        
        
        <div class="d-flex">
            <a class="btn btn-secondary" href="/login">Iniciar Sesion</a>
          
        </div>
      </div>
    </div>
  </nav>
  