<div class="row">

    <section class="hardAndSoft">
        <div>
            <h1 class="titulo">Skills</h1>
            <button class="btn" *ngIf="isLogged" routerLink="/newskill"><i class="fa-solid fa-circle-plus"></i></button>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" id="skills" *ngFor="let skills of skills">
                <h2 class="titulo">{{skills.nombre}}</h2>
                <div class="">
                    <button class="btn" *ngIf="isLogged"
                    routerLink="/editskill/{{skills.id}}"><i class="fa-regular fa-pen-to-square"></i>
                </button>
                <button class="btn" (click)="borrar(skills.id)" *ngIf="isLogged">
                    <i class="fa-solid fa-trash "> </i></button>
                </div>
                <circle-progress [percent]="(skills.porcentaje)" [radius]="100" [outerStrokeWidth]="15"
                    [innerStrokeWidth]="10" [outerStrokeColor]="'#007248'" [innerStrokeColor]="'#ff5527'"
                    [animation]="true" [animationDuration]="300"></circle-progress>
                
            </div>

        </div>
    </section>