/////////////////////////////////////////////////
/* DECLARANDO VARIABLES */
////////////////////////////////////////////////

$principal: rgb(240, 215, 171);
$secundario: rgb(235, 174, 68);
$boton: rgb(219, 105, 12);

/* Banner */


/* Navbar */
.navbar-brand {
    filter: brightness(0) contrast(100%) invert(12%) sepia(38%) saturate(2157%) hue-rotate(7deg) brightness(91%) contrast(101%);
    }
    .nav-link{
        filter: brightness(0) contrast(100%) invert(12%) sepia(38%) saturate(2157%) hue-rotate(7deg) brightness(91%) contrast(101%);
    }
    .logo-ap{
        width: 10rem;
        height: 6rem;
        padding: 0;
        margin: 0;
        
    }
    .social-icon{
        
        width: 2.5rem;
        height: 2.5rem;
        
    }
    .navbar-light{
        background-color: $secundario;
    }
    
    

/* Imagen de perfil */
.img-fluid {
    padding: 1rem;
    border-radius: 100%;
    /* display: block; */
    
}

.row {
    text-align: justify;
    background-color: $secundario;
    border-radius: 40px;
    padding-right: 1rem;
    
}

/* Mi descripcion */
#nombre {
    font-size: 20px;
    font-weight: 700;
    margin-top: 4.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: oblique;
    padding-top: 1rem;
}

.descripcion {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-top: 1rem;
    
}

/* Footer */
footer {
    background-color: $secundario;
    border-radius: 0.5rem;
    padding: 1rem;
    color: black;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    width: auto;
    height: 4rem;
}
